body{
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	background-color:#2d2f2f;
}

header{
	
	height:40%;
	width:100%;
	background-color:#63E769;
}

nav{
	
	height:40%;
	width:100%;
	background-color:yellow;
}

article{
	height:100%;
	width:100%;
	background-color:#DFE776;
}
section{
	height:40%;
	width:100%;
	background-color:skyblue;
}
aside{
	
}

footer{
	height:40%;
	width:100%;
	background-color:red;
}







